<p>Welcome!</p>

<p>FLO-Conscience brings together ethical intuitions (conscience) and adaptive, dynamic Free/Libre/Open process.
   We can live in alignment with our conscience and allow our conscience to evolve.
   We can start by bringing Free/Libre/Open values into our conscience.</p>

<p>The FLO-Conscience projects are a collection of related guides and resources:</p>

<ul>
<li><a href="https://codeberg.org/FLO-Conscience/Conscious-Living">FLO Conscious Living</a></li>
<li><a href="https://codeberg.org/FLO-Conscience/FLO-kids" >FLO software for kids</a></li></ul>